{% extends 'base.html.twig' %}

{% block title %}Account Utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/button.css') }}" rel="stylesheet">
	<link href="{{ asset('css/table.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


{% for message in app.flashes('success') %}
	<div class="alert alert-success">
		{{ message }}
	</div>
{% endfor %}
<div class="d-flex align-items-center justify-content-between">
	<h3>Bienvenue
		<span class="text-primary text-capitalize">
			{{ app.user.userIdentifier }}
		</span>
	</h3>

	{# Demander à utilisateur de completer ses donnée #}
	<a href="{{ path('edituser', { id: app.user.id }) }}" class=" btn btn-outline-warning">
		Completer vos données
	</a>
</div>


<div class="py-4">
	<p>Téléphone :
		{{ app.user.phonenumber }}</p>
	<p>Email :
		{{ app.user.email }}</p>
	<p>Code postale :
		{{ app.user.postcode }}
		- Ville :
		{{ app.user.city }}</p>
</div>

{# Voir annonce de l'utilisateur #}
<h3>Mes annonces</h3>
<table class="table">
	<thead>
		<th>
			Photo
		</th>
		<th>
			Titre
		</th>
		<th>
			Prix
		</th>

		<th colspan="4">
			Actions
		</th>
	</thead>
	<tbody>
		{% for article in articles %}
			<tr>
				<td>
					<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('vignette') }}" alt="image d'une annonce">
				</td>
				<td>{{ article.title }}</td>
				<td>{{ article.prix }} €</td>
				<td>
					<a title="Details" href="{{ path('detailArticle', {id: article.id })}}" class=" btn btn-primary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewbox="0 0 16 16">
							<path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
							<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
							<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
						</svg>
					</a>
				</td>
				<td></td>
				<td>
					<a title="Editer" class="btn btn-secondary" type="button" href="{{ path('editArticle', {id: article.id }) }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
							<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
							<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
						</svg>
					</a>
				</td>
				<td>
					<form title="Supprimer" action="{{ path('deleteArticle' , {id: article.id })}}" method="POST">
						<input type="hidden" name="token" value="{{ csrf_token('deletearticle-'~ article.id )}}">
						<button class="btn btn-danger" type="submit">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
							</svg>
						</button>
					</form>
				</td>
			</tr>
		</td>
	</tbody>
</tr>{% endfor %}</tbody></table>{% endblock %}
