{% extends 'base.html.twig' %}


{% block title %}Annonce{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/details.css') }}" rel="stylesheet">

{% endblock %}



{% block body %}

	
		<h2>{{ article.title }} :</h2>
			
			<p>Vendeur : {{ article.owner.firstname }}</p>
			<p>Prix : {{ article.prix }} €</p>
			<p>Date : {{ article.CreatedAt|date('d.m.Y')  }} </p>
			
					{% if vich_uploader_asset(article,'coverFile') %}
						<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('thumbnail') }}" id="object-position-1" alt="image d'une annonce">
					{% endif %}
			<h3> {{ article.description }}</h3>

		
	
{% endblock %}
