{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}


{% block body %}
	{% if app.request.method == 'GET' %}


		{% if articles | length == 0 %}
			<h4>Aucun résultat pour votre recherche.</h4>
		{% else %}


			<form method="GET">
				<select onchange="this.form.submit();" id="id" name="id" class="form-select" aria-label="Default select example">
					<option selected value="0">Toutes les catégories</option>
					{% for categorie in categories %}

						<option value="{{ categorie.id }}">{{ categorie.name }}</option>

					{% endfor %}
				</select>

			</form>
			<div class="grid">
				{% for article in articles %}

					{{ dump(article)}}
					<div class="grid-item">
						<div class="card">

							
	{% if vich_uploader_asset(article,'coverFile') %}
				<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('thumbnail') }}" alt="image d'une annonce">
			{% endif %}
							<div class="card-content">
								<h1 class="card-header">{{ article.title }}</h1>
								<p>{{ article.description | u.truncate(35,'...') }}</p>
							</div>
						</div>
					</div>

				{% endfor %}
			</div>

			{# <a class="text-decoration-none" href="{{ path('detailArticle', {id: article.id })}}">
									{{ article.title }}
								</a>
				
				
								<td></td>
								<td>{{ article.owner.userIdentifier }}</td>
								<td>{{ article.owner.city }}</td>
								<td>{{ article.prix }}</td>
								<td>{{ article.createdAt| date('d-m-Y') }}</td>
								<td>{{ article.category.name }}</td> #}


		{% endif %}
	{% endif %}
{% endblock %}
