{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<form method="GET" class="py-4">
		<select onchange="this.form.submit();" id="id" name="id" class="form-select" aria-label="Default select example">
		<option selected value="0">Toutes les catégories</option>
			{% for categorie in categories %}
		
				<option selected value="{{ categorie.id }}" >{{ categorie.name }}</option>
			{% endfor %}
		</select>
	</form>
	

	<table class='table'>
		<thead>
			<tr class="text-center">
				<th>Titre</th>
				{# <th>Description</th> #}
				<th>Vendeur</th>
				<th>Ville</th>
				<th>Prix</th>
				<th>Créer le</th>

				{% if is_granted('ROLE_USER') %}
				<th colspan="3">Action</th>
				{% endif %}
			</tr>
		</thead>

		<tbody>

			{% for article in articles %}

				<tr>
					<td>
						<a class="text-decoration-none color" href="{{ path('detailArticle', {id: article.id })}}">
							{{ article.title }}
						</a>
					</td>
					{# <td>{{ article.description }}</td> #}
					<td class="text-center">{{ article.owner.firstname }}</td>
					<td class="text-center">{{ article.owner.city }}</td>
					<td class="text-end">{{ article.prix }} €</td>
					<td class="text-center">{{ article.createdAt| date('d-m-Y') }}</td>

					{% if is_granted('ROLE_USER') %}
					<td>					
						<td>
							<a class="btn btn-secondary" type="button" href="{{ path('editArticle', {id: article.id }) }}">Edit</a>
						</td>
						<td>
							<form action="{{ path('deleteArticle' , {id: article.id })}}" method="POST">
								<input type="hidden" name="token" value="{{ csrf_token('deletearticle-'~ article.id )}}">
								<button class="btn btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
