{% extends 'base.html.twig' %}


{% block title %}Annonce{% endblock %}



{% block stylesheets %}
	{{ parent() }}
	{# <link href="{{ asset('css/table.css') }}" rel="stylesheet"> #}
	{# <link href="{{ asset('css/button.css') }}" rel="stylesheet"> #}
{% endblock %}

{% block body %}

	<div class="pb-4 text-capitalize">
		{% if is_granted('ROLE_USER') %}
			Bienvenue	{{ app.user.userIdentifier }} !
		{% endif %}
	</div>
	
							
	{% if app.request.method == 'GET' %}

		

		{% if articles | length == 0 %}
			<h4>Aucun résultat pour votre recherche.</h4>
		{% else %}

			<form method="GET">
				<select onchange="this.form.submit();" id="id" name="id" class="form-select" aria-label="Default select example">
					<option selected value="0">Toutes les catégories</option>
					{% for categorie in categories %}

						<option value="{{ categorie.id }}">{{ categorie.name }}</option>

					{% endfor %}
				</select>

			</form>
			<div class="grid">
				{% for article in articles %}


					<div class="grid-item">
					 <a class="text-decoration-none" href="{{ path('detailArticle', {id: article.id })}}">
						<div class="card">


							{% if vich_uploader_asset(article,'coverFile') %}
								<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('vignette') }}" alt="image d'une annonce">
							{% endif %}
							<div class="card-content">
								<h1 class="card-header">{{ article.title }}</h1>
								<p class="desc">{{ article.description | u.truncate(20,'...') }}</p>
								<div>
									<p class="info">Vendeur : {{ article.owner.userIdentifier }}</p>
									<p class="info">Localisation : {{ article.owner.city }}</p>
									<p class="info">Prix: {{ article.prix }}</p>
									<p class="info">Ajouté le : {{ article.createdAt| date('d-m-Y') }}</p>
									<p class="info">Catégorie : {{ article.category.name }}</p>
								</div>
							</div>
						</div>
						</a>
					</div>

				{% endfor %}
			</div>

			
							
				{{ knp_pagination_render(articles) }}			
										


		{% endif %}
	{% endif %}
{% endblock %}
