{% extends 'base.html.twig' %}

{% block title %}Ouvrir un compte{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/test.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<<<<<<< HEAD
<div class="image_back">
{{ form(registrationForm) }}
</div>


    

    
=======
    <div class="image">
  <link href="{{ asset('css/register.css') }}" rel="stylesheet">  
    {{ form(registrationForm) }}
  
   
    
    </div>

  
>>>>>>> 13297aa329da998e7a6228cf71d811a77ac2c139
{% endblock %}
