{% extends 'base2.html.twig' %}

{% block title %}GoodStuff{% endblock %}

{% block body %}
<div id="article">
    <table class="tableArticle">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{article.title}}</td>
                    <td>{{article.description|u.truncate(110)}}</td>
                    <td>
                        <a href="">Editer</a>
                        <a href="">Supprimer</a>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paginat">
        <p>{{ knp_pagination_render(articles) }}</p>
    </div>
</div>

<!-- categorie -->

<div class="none" id="category">
    <div class="wrap">
        {% for category in categories %}
            <div class="itemCate">
                <form action="" method="post">
                    <label for="title">Nom Categorie</label>
                    <input type="text" name="title" id="title" value="{{ category.name }}">
                    <button>Valider Changement</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="paginat">
        <p>{{ knp_pagination_render(categories) }}</p>
    </div>
</div>
{% endblock %}
